/*
Default color scheme: http://www.colorcombos.com/color-schemes/6656/ColorCombo6656.html
    darkBlue:   #218C8D
    lightBlue:  #6CCECB
    yellow:     #F9E559
    orange:     #EF7126
    lightGreen: #8EDC9D
    brown:      #473E3F

*/
body {
    background-image: url(../images/chalkboard-black.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #8EDC9D;
    font-size: 2em;
    font-family: 'Permanent Marker', cursive;
    padding-top: 40px;
    margin-left: 40px;


}
h1 {
    font-weight: bold;
    font-size: 3em;
    color: #6CCECB;
    text-align: center;
}
h2 {
    font-weight: bold;
    font-size: 2em;
    color: #6CCECB;
    text-align: center;
}
input {
    background: transparent;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 20px;
    height: 30px;
    border: 2px solid #473E3F;
    border-radius: 6px;
    color: #EF7126;
    font-family: 'Permanent Marker', cursive;
}
.container {

}
.container2 {
    /*text-align: center;*/
}
.login {

}
.submitBtn {
    color: #6CCECB;
    padding-bottom: 10px;
}
.tableHeader {
    color: #6CCECB;
    text-align: center;
}
.tableRow {
    font-size: 20px;
    text-align: center;
}
#mainTitle {
    text-shadow: 3px 3px 5px #218C8D;
}
