/*
Default color scheme: http://www.colorcombos.com/color-schemes/6656/ColorCombo6656.html
    darkBlue:   #218C8D
    lightBlue:  #6CCECB
    yellow:     #F9E559
    orange:     #EF7126
    lightGreen: #8EDC9D
    brown:      #473E3F

*/
body {
    background-image: url(../images/chalkboard-black.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
    margin-left: 40px;
    color: #8EDC9D;
    font-family: 'Permanent Marker', cursive;
    font-size: 35px;
}

h1 {
    font-size: 80px;
    text-align: center;

    border-style: solid;
    border-width: 0px 30px 7px;
    padding-bottom: 10px;

    border-image: url(../images/imageedit_6_9527335505.png) 10 0 4 fill repeat;
    -moz-border-image: url(../images/imageedit_6_9527335505.png) 10 0 4 repeat;
    -webkit-border-image: url(../images/../images/imageedit_6_9527335505.png) 10 0 4 repeat;
    -o-border-image: url(../images/../images/../images/imageedit_6_9527335505.png) 10 0 4 repeat;
}
h2 {
    font-size: 64px;
    text-align: center;

    border-style: solid;
    border-width: 0px 30px 7px;
    padding-bottom: 10px;

    border-image: url(../images/imageedit_6_9527335505.png) 10 0 4 fill repeat;
    -moz-border-image: url(../images/imageedit_6_9527335505.png) 10 0 4 repeat;
    -webkit-border-image: url(../images/../images/imageedit_6_9527335505.png) 10 0 4 repeat;
    -o-border-image: url(../images/../images/../images/imageedit_6_9527335505.png) 10 0 4 repeat;
}
input {
    background: transparent;
    margin-top: 10px;
    margin-left: 5px;
    padding-bottom: 5px;
    height: 30px;
    font-family: 'Reenie Beanie', cursive;
    font-style: italic;
    font-size: 30px;
    color: #EF7126;

    border-style: solid;
    border-width: 0px 30px 7px;

    border-image: url(../images/imageedit_6_9527335505.png) 10 0 4 fill repeat;
    -moz-border-image: url(../images/imageedit_6_9527335505.png) 10 0 4 repeat;
    -webkit-border-image: url(../images/imageedit_6_9527335505.png) 10 0 4 repeat;
    -o-border-image: url(../images/imageedit_6_9527335505.png) 10 0 4 repeat;

}
.titlePage {
    text-shadow: 3px 3px 5px #218C8D;
    font-weight: bold;
    color: #6CCECB;
}
.inputForm {
    padding-top: 20px;
}
.login {
    xborder-style: hidden;
}
.btnSubmit {
    color: #6CCECB;
    font-family: 'Permanent Marker', cursive;
    font-size: 24px;
    border-style: none;
    border-image: none;

}
.quizForm {
    padding-top: 10px;
}
.quizFormForm {
    padding-top: 30px;
}
.userResponse {
    color: #8EDC9D;
}
.tableHeader .tableRow {
    color: #6CCECB;
    text-align: center;

    /*bilateralBorder*/
    /*border-color: #EF7126;
    border-style: solid;
    border-width: 0px 7px;
    -moz-border-image: url(imageedit_bilateralBorder.png) 0 7 repeat;
    -webkit-border-image: url(imageedit_bilateralBorder.png) 0 7 repeat;
    -o-border-image: url(imageedit_bilateralBorder.png) 0 7 repeat;
    border-image: url(imageedit_bilateralBorder.png) 0 7 fill repeat;*/

    /*leftBorder*/
    /*border-style: solid;
    border-width: 0px 0px 0px 7px;
    -moz-border-image: url(imageedit_leftBorder.png) 0 0 0 7 repeat;
    -webkit-border-image: url(imageedit_leftBorder.png) 0 0 0 7 repeat;
    -o-border-image: url(imageedit_leftBorder.png) 0 0 0 7 repeat;
    border-image: url(imageedit_leftBorder.png) 0 0 0 7 fill repeat;*/

    /*rightBorder*/
    /*border-style: solid;
    border-width: 0px 7px 0px 0px;
    -moz-border-image: url(imageedit_leftBorder.png) 0 7 0 0 repeat;
    -webkit-border-image: url(imageedit_leftBorder.png) 0 7 0 0 repeat;
    -o-border-image: url(imageedit_leftBorder.png) 0 7 0 0 repeat;
    border-image: url(imageedit_leftBorder.png) 0 7 0 0 fill repeat;*/
}
.tableData {
    padding: 5px;
    /*border: 2px;*/

    font-size: 24px;

    border-style: solid;
    border-width: 0px 7px;
    -moz-border-image: url(../images/imageedit_bilateralBorder.png) 0 7 repeat;
    -webkit-border-image: url(../images/imageedit_bilateralBorder.png) 0 7 repeat;
    -o-border-image: url(../images/imageedit_bilateralBorder.png) 0 7 repeat;
    border-image: url(../images/imageedit_bilateralBorder.png) 0 7 fill repeat;
}

.correctAnswer {
    color: #EF7126;
}
#quizQuestion {
    color: #6CCECB;
}
#correctAnswer {
    color: #EF7126;
}
