/*
Default color scheme: http://www.colorcombos.com/color-schemes/6656/ColorCombo6656.html
    darkBlue:   #218C8D
    lightBlue:  #6CCECB
    yellow:     #F9E559
    orange:     #EF7126
    lightGreen: #8EDC9D
    brown:      #473E3F

*/
body {
    background-image: url(../images/chalkboard-black.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
    color: #8EDC9D;
    font-family: 'Permanent Marker', cursive;
    font-size: 26px;
}

h1 {
    font-size: 80px;
    text-align: center;

    border-style: solid;
    border-width: 0px 30px 7px;
    padding-bottom: 10px;
    border-image: url(../images/imageedit_6_9527335505.png) 10 0 4 fill repeat;
    -moz-border-image: url(../images/imageedit_6_9527335505.png) 10 0 4 repeat;
    -webkit-border-image: url(../images/../images/imageedit_6_9527335505.png) 10 0 4 repeat;
    -o-border-image: url(../images/../images/../images/imageedit_6_9527335505.png) 10 0 4 repeat;
}
h2 {
    font-size: 64px;
    text-align: center;

    border-style: solid;
    border-width: 0px 30px 7px;
    padding-bottom: 10px;
    border-image: url(../images/imageedit_6_9527335505.png) 10 0 4 fill repeat;
    -moz-border-image: url(../images/imageedit_6_9527335505.png) 10 0 4 repeat;
    -webkit-border-image: url(../images/../images/imageedit_6_9527335505.png) 10 0 4 repeat;
    -o-border-image: url(../images/../images/../images/imageedit_6_9527335505.png) 10 0 4 repeat;
}
h3 {
    font-size: 40px;
    text-align: center;

    border-style: solid;
    border-width: 0px 30px 7px;
    padding-bottom: 10px;
    border-image: url(../images/imageedit_6_9527335505.png) 10 0 4 fill repeat;
    -moz-border-image: url(../images/imageedit_6_9527335505.png) 10 0 4 repeat;
    -webkit-border-image: url(../images/../images/imageedit_6_9527335505.png) 10 0 4 repeat;
    -o-border-image: url(../images/../images/../images/imageedit_6_9527335505.png) 10 0 4 repeat;
}
input {
    background: transparent;
    margin-top: 10px;
    padding-bottom: 5px;
    height: 30px;
    font-family: 'Permanent Marker', cursive;
    /*font-family: 'Reenie Beanie', cursive;
    font-style: italic;*/
    font-size: 26px;
    color: #EF7126;

    /*underLineBorder*/
    border-style: solid;
    border-width: 0px 30px 7px;
    border-image: url(../images/imageedit_6_9527335505.png) 10 0 4 fill repeat;
    -moz-border-image: url(../images/imageedit_6_9527335505.png) 10 0 4 repeat;
    -webkit-border-image: url(../images/imageedit_6_9527335505.png) 10 0 4 repeat;
    -o-border-image: url(../images/imageedit_6_9527335505.png) 10 0 4 repeat;
}
.titlePage {
    text-shadow: 3px 3px 5px #218C8D;
    font-weight: bold;
    color: #6CCECB;
}
.inputForm {
    padding-top: 20px;
}
.btnSubmit {
    color: #6CCECB;
    font-family: 'Permanent Marker', cursive;
    font-size: 24px;
    margin-top: 30px;
    border-style: none;
    border-image: none;
}
.quizDiv {
    padding-top: 15px;
    margin-left: 60px;
}
.quizForm {
    margin-bottom: 40px;
}
input[type="radio"] {
    xdisplay:none;
    margin-left: 30px;
}
/*custom radio buttons*/
/*div {
  margin:0 0 0.75em 0;
}

input[type="radio"] {
    xdisplay:none;
}
input[type="radio"] + label {
    color: #218C8D;
}
input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}
input[type="radio"] + label span {
     background-color:#218C8D;
}
input[type="radio"]:checked + label span{
     background-color:#EF7126;
}
input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}*/

.userResponse {
    color: #8EDC9D;
}
.tableHeader {
    color: #6CCECB;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}
.tableData {
    padding-left: 60px;
    padding-right: 60px;
    font-size: 24px;
}
.correctAnswer {
    color: #EF7126;
}
.labelReturnLogin {

}
.hrefReturnLogin {
    color: #EF7126;

}
#questionResult {
    padding-right: 60px;
}
#correctResult {
    padding-left: 60px;
    padding-right: 60px;
}
#userNameResult {
    padding-left: 60px;
}
#quizQuestion {
    color: #6CCECB;
    margin-top: 40px;
}
#questionTableData {
    border-style: none;
    border-image: none;
}
#correctAnswer {
    color: #EF7126;
}
#invalidLoginTitlePage {
    margin-bottom: 40px;
}
